<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CritterControl</servlet-name>
        <servlet-class>Critter.CritterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Critter.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImage</servlet-name>
        <servlet-class>Critter.GetImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>Critter.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTweet</servlet-name>
        <servlet-class>Critter.CreateTweet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>username</servlet-name>
        <servlet-class>Critter.usernameControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTweetImage</servlet-name>
        <servlet-class>Critter.GetTweetImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CritterControl</servlet-name>
        <url-pattern>/CritterControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImage</servlet-name>
        <url-pattern>/GetImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTweet</servlet-name>
        <url-pattern>/CreateTweet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>username</servlet-name>
        <url-pattern>/username</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTweetImage</servlet-name>
        <url-pattern>/GetTweetImage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
